.titreCarte{
  background-color: #12AA36;
  color: white;
  width: 25vw;
  text-align: center;
  height: 65vh;
  margin-bottom: 3vh;
}

.titreListeLieux{
  width: 100vw;
  color: white;
  background-color: #12AA36;
}

.main{
  height: 200vh;
}

.listeLieu{
  width: 75vw;
}