.imgLieu{
    align-items: center;
    max-width: 40vw;
    max-height: 40vh;
    transform: translateX(-10vw);

}
.main{
    height: 150vh;
}

.rectangleLieuVert{
    width: 30vw;
    height: 50vh;
    background-color: #12AA36;
}

.rectangleVilleLieuVert{
    background-color: #12AA36;
    color: white;
}  

.styleLilitaOne{
    font-family: 'Lilita One', sans-serif;
}

.divPresentationLieu{
    margin-top: 10vh;
}
.containerDivBleuDescriptionLieu{
    margin-top: 10vh;
    padding: 10vh;
    background-color: rgb(0, 159, 227);
}
.containerDescritpionLieu{
    width: 40vw;
    color: white;
}

.titreListeInfoLieu{
    background-color: #12AA36;
    margin-right:3vw ;
    margin-left:3vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15vw;
    height: 5vh;
    border-radius: 5%;
}