.ImageLieu {
    width: 75%;
    height: 25%;
}

.indexAccueil {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Utilisation de la hauteur minimale de la fenêtre pour que le footer soit en bas */
    background: linear-gradient(180deg, rgba(0, 159, 227, 0) 0%, rgb(0, 159, 227) 130%);
    box-sizing: border-box;
}

.titreBlancLieux {
    flex: 1; /* Utilisation de flex pour que cette section prenne tout l'espace disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lilita One', sans-serif;
    color: #12AA36;
    height: 10vh;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.filtreLieux {
    background-color: #12AA36;
    width: 100vw;
    height: 10vh;
}

.TitreCarteLieux {
    padding: 3%;
    width: 90%;
    color: white;
    font-family: 'Lilita One', sans-serif;
    background-color: #12AA36;
    position: absolute;
    transform: translateX(0vw) translateY(23vh);
}

.ImageCarteLieux {
    width: 20vw;
    height: 25vh;
}

.radioButtonDepLieux {
    transform: scale(1.5); /* Ajustez la valeur pour augmenter ou diminuer la taille du bouton */
    margin-right: 5px; /* Ajustez la marge entre le bouton et le label selon vos préférences */
}
