@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
.mainAccueil{
  height: 330vh;
  background: linear-gradient(180deg, rgba(0, 159, 227, 0) 0%, rgb(0, 159, 227) 130%);
}

.banniereFestival{
  width: 75vw;
  height: 70vh;
}

.Titre1{
  height: 10vh;
  color: white;
  background-color: #12AA36;
  font-family: 'Lilita One', sans-serif;
}

.presentationCVDL{
  font-size:x-large;
  
}

.ImageParcours, .ImageLieux, .ImageCarte, .ImageEvenements{
  width: 25vw;
  height: 29vh;

}

.TitreParcours, .TitreLieux, .TitreCarte, .TitreEvenements{
  width: 7vw;
  height: 4vh;
  color: white;
  font-family: 'Lilita One', sans-serif;
  background-color: #12AA36;
  position: absolute;
  transform: translateX(0vw) translateY(27vh);
}


.accueilSugestionLieuVert{
  background-color: #12AA36;
  height: 50vh;
  margin-top: 10vh;
}

.titreLilitaOneBlanc{
  font-family: 'Lilita One', sans-serif;
  color: white;
}

.titreLilitaOneBlancPetit{
  font-family: 'Lilita One', sans-serif;
  color: white;
  font-size: 2vh;
}
.ImageLieuAleatoire{
    width: 20vw;
    height: 25vh;
}
