.main{
    background: linear-gradient(180deg, rgba(0, 159, 227, 0) 0%, rgb(0, 159, 227) 130%);
    height: 100vh;
  }
  
.rectangleBleu1{
    background-color: rgb(0, 159, 227);
    width: 10vw ;
    height:5vh;
    margin-right: 3vw;
}

.rectangleBleu2{
    background-color: rgb(0, 159, 227);
    width: 10vw ;
    height:5vh;
}

img{
    align-items: center;
    height: 40vh;
    margin-left: 3vw;
    margin-right: 3vw;
}