/* styleAccueill.css */

.titreNoir {
  color: black;
  text-align: center;
}

.motVert {
  color: #A6C269;
}

.bandeauVert {
  background-color: #A6C269;
  height: 30vh;
  width: 100%;
}

.boutons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.carréVert {
  width: 3vw;
  height: 2vh;
  background-color: #A6C269;
  margin: 0 10px;
}

.boutonRond {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  position: relative; /* Pour permettre de positionner l'image à l'intérieur */
  overflow: hidden; /* Pour cacher le débordement de l'image */
}

.boutonRond img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ajuste la taille de l'image pour couvrir le bouton */
  position: absolute; /* Positionnement absolu à l'intérieur du bouton */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vert {
  background-color: green;
}

.rose {
  background-color: pink;
}

.bleu {
  background-color: blue;
}

.rouge {
  background-color: red;
}
