.Bleu{
  width: 2vw;
  height: 1vh;
  background-color: rgb(20, 20, 170);
  margin-left: 2vw;
}
.Blanc{
  width: 2vw;
  height: 1vh;
  background-color: white;
}
.Rouge{
  width: 2vw;
  height: 1vh;
  background-color: rgb(219, 10, 10);
}

.searchBar{
  right: 0;
}
.navHeader{
  width: 100%;
}