{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center m-2">
    <div class="col-6">
      <h1>Liste des departements</h1>
      <ul>
        {% for departement in departements %}
          <li>{{ departement.nomDepartement }} - <a href="{% url 'app_admin:modifier_departement' departement.pk %}">Modifier</a> | <a href="{% url 'app_admin:supprimer_departement' departement.pk %}">Supprimer</a></li>
        {% endfor %}
      </ul>
      <a href="{% url 'app_admin:ajouter_departement' %}">Ajouter un departement</a>
    </div>
    
  </div>

</div>
  
{% endblock %}