
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center m-2">
      <h1>Bienvenue sur votre administration d'Ar(t]chipel !</h1>
    </div>   
  </div>

  <div class="row">
    <div class="container">
    <div class="d-flex justify-content-between flex-wrap">
      
        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Région</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/region.png' %}" style="max-height: 200px; width:auto;">
                </div>
                <div class="row justify-content-center">
                  <div class="container d-flex justify-content-center">
                    <a href="{% url 'app_admin:liste_regions' %}" class="btn btn-primary">Région</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Département</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/departement.webp' %}" style="max-height: 220px; width:auto;">
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="{% url 'app_admin:liste_departements' %}" class="btn btn-primary">Département</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Ville</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/ville.png' %}" style="max-height: 200px; width:auto;">
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="{% url 'app_admin:liste_villes' %}" class="btn btn-primary">Ville</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>

        

        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Type de lieu</h5>
                </div>
                <div class="row justify-content-center">
                  <div class="container d-flex justify-content-center">
                    <i class="fa-solid fa-building-columns fa-10x"></i>
                  </div>
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="{% url 'app_admin:liste_typelieux' %}" class="btn btn-primary">Type de lieu</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Lieu</h5>
                </div>
                <div class="row justify-content-center">
                  <div class="container d-flex justify-content-center">
                    <i class="fa-solid fa-location-dot fa-10x"></i>
                  </div>
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="{% url 'app_admin:liste_lieux' %}" class="btn btn-primary">Lieu</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>



        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Oeuvre</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/exposition.png' %}" style="max-height: 170px;  width:auto;">
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="3" class="btn btn-primary">Oeuvre</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Activité</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/activite.png' %}" style="max-height: 200px; width:auto;">
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">Activité</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Evènement</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/evenement.png' %}" style="max-height: 170px; width:auto;">
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">Evènement</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>


        <div class="col-sm-3 box">
          <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row justify-content-center">
                  <h5 class="card-title text-center">Parcours</h5>
                </div>
                <div class="row justify-content-center">
                  <img src="{% static 'images/parcours.png' %}" style="max-height: 170px; width:auto;">
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="container d-flex justify-content-center">
                    <a href="{% url 'app_admin:liste_parcours' %}" class="btn btn-primary">Parcours</a>
                  </div>
                </div>                                                 
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
{% endblock content %}
    

