{% block content %}
  <h1>Liste des lieux</h1>
  <ul>
    {% for lieu in lieux %}
      <li title="{{ lieu.lnk_lieu_horaire.dateDebut }}" onmouseover="showInfo(this)">
        {{ lieu.nomLieu }} - <a href="{% url 'app_admin:modifier_lieu' lieu.pk %}">Modifier</a> | <a href="{% url 'app_admin:supprimer_lieu' lieu.pk %}">Supprimer</a>
      </li>
    {% endfor %}</ul>
  <a href="{% url 'app_admin:ajouter_lieu' %}">Ajouter un lieu</a>

<script>
function showInfo(element) {
  var info = element.title; alert(info);
}
</script>
{% endblock %}