{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row justify-content-center m-2">
    <div class="col-6">
        <h1>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} une région</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    
    </div>
  
  </div>
{% endblock %}